<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CLOUDWATCH" class="com.boxfuse.cloudwatchlogs.CloudWatchLogsAppender">
        <logGroupName>/otakuzi/app</logGroupName>
        <logStreamUriBase>logs/</logStreamUriBase>
        <region>eu-north-1</region>
    </appender>

    <root level="INFO">
        <appender-ref ref="CLOUDWATCH"/>
    </root>
</configuration>